.h1{
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    font-size: 60px;
    box-shadow: 0cap;
    color: black;
}

.carousel {
    height: 200px;
    width: 500px;
    align-items: center;
}

.carousel-size {
    top: 100px;
    margin-left: 600px;
    width: 500px;
    height: 300px;
}